<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <ul class="" type="disc">
        <!-- <p class="navbar-text">Signed in as <a href="#" class="navbar-link">Link Doe</a></p> -->
            <li class="list-group-item" style="border: none"> <a href="https://github.com/kolxd/" class="navbar-link">Flavius Dinu</a> - ISI </li>
            <li class="list-group-item" style="border: none"> <a href="https://github.com/rushmeup" class="navbar-link">Rares Rusu</a> - ISI </li>
            <li class="list-group-item" style="border: none"> <a href="https://github.com/cristiansen12/" class="navbar-link">Cristian Vlad</a> - ISI </li>
        </ul>
    </div>
</div>