<html lang="en" ng-app="app" class="no-js" ng-cloak>
<body ng-controller="linkedinController" ng-cloak>
<div class="section">
    <!-- <h3>{{headingTitle}}</h3> -->

    <form class="form top-buffer text-center" name="myForm">
        <div class="btn-group"><!-- 
        	<a href="#" class="btn btn-default">Action 1</a>
            <a href="#" class="btn btn-default">Action 2</a> -->
            <label class="btn btn-primary"> Browse <input type="file" style="display: none;" ng-click="change()"> </label><!-- 
	        <input id="file" type="file" file-model="myFile" placeholder="Choose file" ng-click="change()" class="btn btn-default"/> -->
	        <button id="upload" class="btn btn-default" ng-click="uploadFile()">Upload</button>
        </div>
    </form>
<!--  	<form class="form" name="myForm">
        <input id="file" type="file" file-model="myFile" placeholder="Choose file" ng-click="change()"/>
        <button id="upload" class="button" ng-click="uploadFile()">Upload</button>
    </form> -->

    <div class="linkedin-section">
        <img class="photo" src="../images/linkedin.jpg"/>
    </div>
</div>
</body>
</html>